@media only screen and (max-width: 700px) {
    /* Global */
    * {
        --sidebar-header-height: 50px;
        --sidebar-button-size: 30px;
    }
    html {
        overflow: hidden;
    }
    /* Body */
    body {
        width: 100vw;
        overflow-y: scroll;
        transition: 0.2s;
    }
    body.sidebar-left #sidebar-left {
        opacity: 1;
        pointer-events: all;
    }
    /* Sections */
    .section {
        flex-direction: column;
        width: 100vw;
    }
    .image-section {
        flex-direction: column;
    }
    .section .section-meta {
        width: 100vw;
        text-align: center;
    }
    .section .section-list {
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
    }
    /* Header */
    #header {
        flex-direction: column;
        height: 100dvh;
    }
    #cube {
        --face-size: 20vw;
    }
    #cube-container {
        overflow: hidden;
    }
    #title h1 {
        font-size: 4em;
        margin: 0;
    }
    #title img {
        width: 100%;
        height: auto;
    }
    #title h2 {
        font-size: 2em;
    }

    /* Cards */
    .card-content h2 {
        font-size: 1.2em;
    }
    .cards {
        flex-direction: column;
    }
    .card {
        width: 70%;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #footer {
        flex-direction: column;
    }

  }