* {
    --fg: white;
    --fg-deep: rgb(147, 147, 147);
    --bg: rgb(0, 0, 0);
    --bg-deep: rgb(32, 32, 32);
    --shadow: black;
    --highlight: rgb(255, 255, 0);
    --close-bg: rgb(70, 0, 0);

    --transition: 0.2s;

}

@font-face {
    font-family: Rubik;
    src: url(/assets/rubik.ttf);
  }